body{
  font-family: arial, sans-serif !important;
  overflow-x:hidden; 
  padding-top: 50px;
  margin:0;
}

a {
  color:#ffffff;
}

.iconsize{
  font-size: 6.00em;
}

.greybackground{
  background: #B0B0B0;
}

.whitebackground{
  background:white;
}

.blackbackground{
  background: black;
}

.alicebluebackground{
  background: #F0F8FF;
}
.mid{
  text-align: center;
}


.display-container{
  position: relative;
}

.content{
  width: 100%;
  height:500px;
  position: relative;
}

.display-middle{
  position: absolute;
  top:30%;
  left:15%;
  transform: translate(-50%,-50%);
  -ms-transform:translate(-50%,-50%);
}

.display-top{
  top:50%;
  left:50%;
  position: absolute;
  transform: translate(-50%,-50%);
  -ms-transform:translate(-50%,-50%);
}


.large-padding{
  padding:16px 32px;
  paint-top:300px;
}

.border{
  border: 1px solid #f1f1f1; 
}

.text-align-center{
  text-align:center;
}

.text-image-center{
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
}


.hide-medium{
  display: none;
}

.resize{
  width:1000px;
}

.ele-to-right{
  float: right;
}

.vh-mid{
  line-height: 50px;
}

.inline{
  display: inline;
}


.sub-heading-padding{
  padding: 150px 0px;
}

.zero-padding{
  padding: 0px;
}

.zero-margin{
  margin: 0px 0px 0px 0px;
}

.zero-border{
  border: 0px;
}

.align-images-mid{
  text-align: center;
}

.subparallax{
  background-attachment: fixed;
  height:80vh;
  background-repeat: no-repeat;
}

.parallaxwordpadding{
  padding: 225px 0px 0px 0px;
}

.contactmepadding{
  padding: 15px 0px 25px 0px;
}

.footer-padding{
  padding-bottom: 20px; 
}
.connect-button{
  width: 40%;
}
.temp-button{
  width: 42%;
}
.custom-table{
  background-color: white;
}
.button-align{
  text-align: center;
}
/*
.slidingDiv {
  height:300px;
  background-color: white;
  padding:20px;
  margin-top:10px;
}*/

.show_hide {
display:none;
}

.align-button-right{
  text-align: right;
}

.symbol{
  width: 80px !important;
  height: 80px !important;
}
.nav-link-styling{
  font-family: "helvetica" !important;
  text-align: center;
  font-size: 18px;
  padding-top: 0px;
  padding-left:   0px;
  height: 100%;
}
.icon-style{
  padding-top: 15px;
}

.position-bottom{
  position: absolute;
}
.float-right{
  text-align: right;
}
.foot-style{
  padding-top: 50px;
}
.btn-padding{
  padding-left: 100px;
  padding-top: 10px !important;
}
.iframe-padding{
  padding-top: 20px;
  text-align: center;   
}
.link-style{
  text-align: center;
}
.timestamp{
  text-align: center !important;
}
.control-center-padding{
  padding-top: 100px;
}
.about-section{
  padding-top: 60px;
  padding-bottom: 60px;
}
.title-padding{
  padding-top: 30px !important;
  padding-left: 30px !important;
  font-size: 22px !important;
}
.header-link-padding{
  padding-top: 15px !important;
  padding-left: 10px !important;
  font-size: 18px !important;
}
.icon-padding{
  padding-top: 10px !important;
  padding-right: 20px !important;
   padding-left: 10px !important;

}
.coverpic{
      height:100vh;
      max-width: 100%;
      width: auto;
      background-attachment: scroll;   
}

@media(max-width:768px){
    .coverpic{
      width: 100px;
      height: 400px;
    }
    .front-titles{
      display: none;
    }
} 
.toggle-pad{
  margin-top: 25px !important;
}


.loader {
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}