body{
  font-family: 'Roboto', sans-serif;
  overflow-x:hidden; 
  padding:0;
  margin:0;
}

a {
  color:#ffffff;
}


.iconsize{
  font-size: 6.00em;
}

.coverpic{
  margin-top: 80px;
  height:100vh;
  max-width: 100%;
  background-attachment: scroll;   
}

.greybackground{
  background: #B0B0B0;
}

.whitebackground{
  background:white;
}

.blackbackground{
  background: black;
}

.alicebluebackground{
  background: #F0F8FF;
}



.mid{
  text-align: center;
}


.display-container{
  position: relative;
}

.content{
  width: 100%;
  height:500px;
  position: relative;
}

.display-middle{
  position: absolute;
  top:30%;
  left:15%;
  transform: translate(-50%,-50%);
  -ms-transform:translate(-50%,-50%);
}

.display-top{
  top:50%;
  left:50%;
  position: absolute;
  transform: translate(-50%,-50%);
  -ms-transform:translate(-50%,-50%);
}


.large-padding{
  padding:16px 32px;
  paint-top:300px;
}

.border{
  border: 1px solid #f1f1f1; 
}

.text-align-center{
  text-align:center;
}

.text-image-center{
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
}


.hide-medium{
  display: none;
}

.resize{
  width:1000px;
}

.ele-to-right{
  float: right;
}

.vh-mid{
  line-height: 50px;
}

.inline{
  display: inline;
}


.sub-heading-padding{
  padding: 150px 0px;
}

.zero-padding{
  padding: 0px;
}

.zero-margin{
  margin: 0px 0px 0px 0px;
}

.zero-border{
  border: 0px;
}

.align-images-mid{
  text-align: center;
}

.subparallax{
  background-attachment: fixed;
  height:80vh;
  background-repeat: no-repeat;
}

.parallaxwordpadding{
  padding: 225px 0px 0px 0px;
}

.contactmepadding{
  padding: 15px 0px 25px 0px;
}

.footer-padding{
  padding-bottom: 20px; 
}
.connect-button{
  width: 40%;
}
.custom-table{
  background-color: white;
}
.button-align{
  text-align: center;
}

.slidingDiv {
  height:300px;
  background-color: white;
  padding:20px;
  margin-top:10px;
}

.show_hide {
display:none;
}
.align-button-right{
  padding-left: 400px;
}
.graph-align{
  text-align: center;
}
.nav-style{
 height: 80px !important;
 background-color: black !important;
 border-color: black !important;   
}
.symbol{
  width: 80px !important;
  height: 80px !important;
}
.nav-link-styling{
  font-family: "helvetica" !important;
  font-size: 18px;
  padding-top: 0px;
  padding-left: 20px;
  height: 100%;
}
.icon-style{
  padding-top: 15px;
}
.btn-style{
  width: 120px !important;
  height: 50px !important;
  background-color: transparent !important;
  border-color: transparent !important;
  outline: 0 !important;
  color: #2b9ddb !important;
  font-size: 15px !important;
  text-align: center !important;
}
a:hover{
  background-color: white !important;
  transition: 0.3s ease-in  !important;
}
.position-bottom{
  position: absolute;
}
.float-right{
  text-align: right;
}
.foot-style{
  padding-top: 50px;
}